exportClasses(AnnotationHubMetadata, AnnotationHubRecipe)
export(AnnotationHubMetadata, AnnotationHubRecipe)
exportMethods(
#    show,
#    dcfFile,
#    metadataTitle
    )
export(constructAnnotationHubMetadataFromJSON)
import(RJSONIO)
importFrom(BiocInstaller, biocVersion)
#importFrom(httr, HEAD)
