exportClasses(AnnotationHubMetadata, AnnotationHubRecipe,
    ImportPreparer, dbSNPVCFImportPreparer,
    EnsemblFastaImportPreparer, #EnsemblGtfImportPreparer,
    EncodeImportPreparer, UCSCTrackImportPreparer)

export(AnnotationHubMetadata, AnnotationHubRecipe,
    dbSNPVCFImportPreparer, EnsemblFastaImportPreparer,
    #EnsemblGtfImportPreparer,
       UCSCTrackImportPreparer,
    HaemCodeImportPreparer)

export(newResources,
  constructAnnotationHubMetadataFromSourceFilePath,
  postProcessMetadata,
  constructMetadataFromJsonPath, flog, upload_to_S3)

import(rjson)

import(futile.logger)

importFrom(RCurl, getURL)

importFrom(BiocInstaller, biocVersion)

importFrom(IRanges, metadata, "metadata<-")

importFrom(Rsamtools, indexFa)

importFrom(VariantAnnotation, readVcf)

importFrom(rtracklayer, import)

importFrom(httr, HEAD)

export(AnnotationHubMetadataFromJson,
       jsonPath,
       toJson,
       constructSeqInfo,
       extendedBedToGRanges,
       extendedBedWithAuxiliaryTableToGRanges,
       dbSNPVCFToTabixFile,
       ensemblFastaToFaFile,
       ensemblGtfToGRanges,
       rtrackLayerImport,
       importTable,
       EncodeImportPreparer,
       EncodeBaseURL,
       tracksToUpdate)

exportMethods(
    show,
    run,
    recipeName,
    inputFiles,
    outputFile,
    metadata,
    "metadata<-",
    metadataList,
    metadataTable,
    annotationHubRoot,
    sourceUrls
    )

