exportClasses(AnnotationHubMetadata, AnnotationHubRecipe)
export(AnnotationHubMetadata, AnnotationHubRecipe)
export(constructAnnotationHubMetadataFromOriginalFilePath,
 postProcessMetadata,
 constructAnnotationHubMetadataFromJsonPath)
import(RJSONIO)
importFrom(BiocInstaller, biocVersion)

export(recipe1)

exportMethods(
    show,
    run,
    recipeName,
    inputFiles,
    outputFile,
    annotationHubRoot
    )
